<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="../Style/index.css">
    <title>Bookshop</title>
</head>

<body>
    <section class="row">
        <a class="main-brand-link" href="#"><h1 class="main-brand" id="main-brand">Kitab mağazası</h1></a>
        <nav class="nav-link">
            <ul class="nav-list">
                <li class="list-item"><a href="#">Ana səhifə</a></li>
                <li class="list-item"><a href="#">Haqqımızda</a></li>
                <li class="list-item"><a href="#">Kateqoriyalar</a></li>
                <li class="list-item"><a href="#">Məhsullar</a></li>
                <li class="list-item"><a href="#">Əlaqə</a></li>
            </ul>
        </nav>
        <div class="main-content">
            <img class="main-content-image" src="../Images/books.png" alt="Books">
            <div class="main-content-text">
                <p class="main-story">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga adipisci aliquam error similique voluptatibus? Sint, iure architecto ipsa harum quo vero iste alias eveniet saepe asperiores perferendis dolorum at accusantium magnam tempora molestiae vitae voluptate doloribus nostrum sunt voluptatibus voluptas! Itaque assumenda numquam illum, magnam hic cum quia totam laboriosam vero esse neque quasi architecto nulla sequi consectetur deserunt recusandae quis culpa corrupti obcaecati ducimus ipsam. Earum aut quaerat explicabo eaque. Corporis, delectus ex. Delectus cupiditate, nisi ipsam, non eos sapiente dolorem veritatis molestias ad, quod debitis dolores maiores beatae? Mollitia magnam quos earum recusandae fugit, rem saepe officiis? Cupiditate.</p>
                <p class="main-story">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorem maiores minus rem blanditiis placeat possimus, dolore vel natus, doloribus repellendus ipsa molestiae aspernatur vero, rerum ex repellat nesciunt perferendis veritatis voluptatem quasi! Praesentium reiciendis voluptates, eos consectetur, incidunt culpa modi eveniet, harum minima amet velit excepturi et repellat atque nobis.</p>
                <button class="main-content-button">Kitabları kəşf et</button>
            </div>
        </div>
    </section>
    <section class="row-1">
        <h1 class="story-title">Kitablar</h1>
        <div class="container">
            <div class="container-child">
                <img class="container-child-image" src="../Images/Kitab.png" alt="Inkognito book cover">
                <p class="container-child-name">Inkoqnito 1</p>
                <a href="./product.html">Ətraflı</a>
            </div>
            <div class="container-child">
                <img class="container-child-image" src="../Images/Kitab.png" alt="Inkognito book cover">
                <p class="container-child-name">Inkoqnito 2</p>
                <a href="./product.html">Ətraflı</a>
            </div>
            <div class="container-child">
                <img class="container-child-image" src="../Images/Kitab.png" alt="Inkognito book cover">
                <p class="container-child-name">Inkoqnito 3</p>
                <a href="./product.html">Ətraflı</a>
            </div>
            <div class="container-child">
                <img class="container-child-image" src="../Images/Kitab.png" alt="Inkognito book cover">
                <p class="container-child-name">Inkoqnito 4</p>
                <a href="./product.html">Ətraflı</a>
            </div>
            <div class="container-child">
                <img class="container-child-image" src="../Images/Kitab.png" alt="Inkognito book cover">
                <p class="container-child-name">Inkoqnito 5</p>
                <a href="./product.html">Ətraflı</a>
            </div>
            <div class="container-child">
                <img class="container-child-image" src="../Images/Kitab.png" alt="Inkognito book cover">
                <p class="container-child-name">Inkoqnito 6</p>
                <a href="./product.html">Ətraflı</a>
            </div>
            <div class="container-child">
                <img class="container-child-image" src="../Images/Kitab.png" alt="Inkognito book cover">
                <p class="container-child-name">Inkoqnito 7</p>
                <a href="./product.html">Ətraflı</a>
            </div>
            <div class="container-child">
                <img class="container-child-image" src="../Images/Kitab.png" alt="Inkognito book cover">
                <p class="container-child-name">Inkoqnito 8</p>
                <a href="./product.html">Ətraflı</a>
            </div>
            <div class="container-child">
                <img class="container-child-image" src="../Images/Kitab.png" alt="Inkognito book cover">
                <p class="container-child-name">Inkoqnito 9</p>
                <a href="./product.html">Ətraflı</a>
            </div>
        </div>
    </section>
    <div class="social-content">
        <ul class="social-list">
            <li class="social-item"><a href="https://www.facebook.com/"><i class="fab fa-facebook fa-2x font-awesome-item"></i></a></li>
            <li class="social-item"><a href="https://www.youtube.com/"><i class="fab fa-youtube fa-2x font-awesome-item"></i></a></li>
            <li class="social-item"><a href="https://www.instagram.com/"><i class="fab fa-instagram fa-2x font-awesome-item"></i></a></li>
            <li class="social-item"><a href="https://www.linkedin.com/"><i class="fab fa-linkedin-in fa-2x font-awesome-item"></i></a></li>
            <li class="social-item"><a href="https://www.google.com/"><i class="fab fa-google fa-2x font-awesome-item"></i></a></li>
            <li class="social-item"><a href="#main-brand"><i class="fas fa-angle-double-up fa-2x font-awesome-item-other"></i></a></li>
        </ul>
    </div>
    <footer class="footer">
        <p>2020 &copy; Bütün haqlar qorunur.</p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
</body>

</html>